@import "tailwindcss";

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.2s ease;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* fixes left alignment */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.my-masonry-grid_column > * {
  margin-bottom: 16px;
}

.font-heading {
  font-family: var(--font-poppins), sans-serif;
}

.font-body {
  font-family: var(--font-inter), sans-serif;
}